#col{
    border-style: groove;
    margin-top: 10%;
}
#btn,#btn1{
    padding-left: 15px;
    padding-right: 25px;
    background-color: darkgrey;
    margin-right: 5px;
}
#btn{
    margin-left: 25%;
}
#btn1{
    margin-left: 10px;
    margin-right: 15px;
}
#look{
    border-radius: 30px;
    height: 50px;
    width: 400px;
    border-style: groove;
}
#form{
    margin-top:7%;
}

#dr{
    padding-left: 170px;
}
#sel{
    margin-left: 80%;
}

#hov:hover{
    border: solid 0.5px;
}
#im{
    margin-right: 7%;
    padding-top: 25px;
    margin-left:70%;

}
img{
    margin-left: 125px;
}

#col4{
    padding: 15px;
    margin-left: 50px;
}
.form-inline{
    padding: 5px;
    margin: 5px;
    margin-left: 7px;
}
#read{
    margin-left: 20px;
}
#row1{
    margin-top: 50px;
}
footer{
    background-color: #c9302c;
}

